<form autocomplete="off" onsubmit="event.preventDefault();">
  <p>  
    <i>{{localize "MOUSND.description"}}</i>
  </p>
  
  <h2>{{localize "MOUSND.permissions"}}</h2>
  <div class="form-group">
    <ul>
      {{#if canBrowse}}<li class="success">{{localize "MOUSND.can_browse"}}</li>{{/if}}
      {{#unless canBrowse}}<li class="error">{{localize "MOUSND.cannot_browse"}}</li>{{/unless}}
      {{#if canUpload}}<li class="success">{{localize "MOUSND.can_upload"}}</li>{{/if}}
      {{#unless canUpload}}<li class="error">{{localize "MOUSND.cannot_upload"}}</li>{{/unless}}
    </ul>
  </div>

  <h2>{{localize "MOUSND.sounds"}}</h2>
  <div class="form-group">
    <label>{{localize "MOUSND.add_sounds"}}</label>
    <div class="form-fields">
      <button type="submit" class="searchMoulinetteSound" title="{{localize "MOUSND.search_sound"}}"><i class="fa-solid fa-search"></i> </button>
      <button type="submit" class="browseSound" title="{{localize "MOUSND.browse_sound"}}"><i class="fas fa-folder-open"></i> </button>
    </div>
  </div>
  <p>  
  {{#each audio as |snd i|}}
    <audio id="previewSound{{i}}" src="{{snd.path}}"></audio>
    <span class="audioname"><i class="fas fa-music"></i> {{snd.name}} <a class="audiofile" data-idx="{{i}}"><i class="fas fa-trash" title="{{localize "Delete"}}"></i></a></span>
  {{/each}}
  </p>

  <div class="form-group">
    <label>{{localize "PLAYLIST.Channel" }}</label>
    <div class="form-fields">              
      <select class="sound-channel">
        <option value=""></option>
        <option value="music" {{#if (eq channel "music") }}selected{{/if}}>{{localize "AUDIO.CHANNELS.MUSIC.label"}}</option>
        <option value="environment" {{#if (eq channel "environment") }}selected{{/if}}>{{localize "AUDIO.CHANNELS.ENVIRONMENT.label"}}</option>
        <option value="interface" {{#if (eq channel "interface") }}selected{{/if}}>{{localize "AUDIO.CHANNELS.INTERFACE.label"}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "PLAYLIST.SoundVolume" }}</label>
    <div class="form-fields">              
      <input class="sound-volume" type="range" title="{{localize "PLAYLIST.SoundVolume" }}" value="{{volume}}" min="0" max="1" step="0.05">
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "PLAYLIST.SoundRepeat" }}</label>
    <div class="form-fields">              
      <input class="sound-repeat" type="checkbox" title="{{localize "PLAYLIST.SoundRepeat" }}" {{#if repeat}}checked="checked"{{/if}}>
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "PLAYLIST.Fade" }}</label>
    <div class="form-fields">              
      <input class="sound-fade" type="text" title="{{localize "PLAYLIST.Fade" }}" value="{{fade}}">
    </div>
  </div>

  <h2>{{localize "MOUSND.lookandfeel"}}</h2>
  <div class="form-group">
    <label>{{localize "MOUSND.shorttext"}}</label>
    <div class="form-fields">              
      <input class="shortText" type="text" name="shortText" placeholder="ex: door" value="{{data.name}}">
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "MOUSND.size"}}</label>
    <div class="form-fields">
      <button type="submit" class="buttonSize size1 {{#if size1}}selected{{/if}}">1</button>
      <button type="submit" class="buttonSize size2 {{#if size2}}selected{{/if}}">2</button>
      <button type="submit" class="buttonSize size3 {{#if size3}}selected{{/if}}">3</button>
    </div>
  </div>
  <p>  
    <i>{{localize "MOUSND.slot_icon_descr"}}</i>
  </p>
  <div class="form-group">
    <label>{{localize "MOUSND.icon"}}</label>
    <div class="form-fields">
      <input class="icon" type="text" placeHolder="{{localize "MOUSND.icon_placeholder"}}" value="{{#if data.faIcon}}{{data.icon}}{{/if}}"/>
      <button type="button" class="searchMoulinetteIcon" title="{{localize "MOUSND.search_icon"}}"><i class="fa-solid fa-search"></i></button>
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "MOUSND.image"}}</label>
    <div class="form-fields">
      <input class="icon2" type="text" name="icon2" placeholder="ex: moulinette/images/gameicons/swordman.svg" value="{{#unless data.faIcon}}{{data.icon}}{{/unless}}">
      <button type="button" class="searchMoulinetteImage" title="{{localize "MOUSND.search_image"}}"><i class="fa-solid fa-search"></i></button>
      <button type="submit" class="browse" title="{{localize "MOUSND.browse_image"}}"><i class="fa-solid fa-folder-open" title="{{localize "MOUSND.browse"}}"></i> </button>
    </div>
  </div>

  <h2>{{localize "MOUSND.preview"}}</h2>
  <div class="sounds">
    <div class="boardrow">
      {{#if data.path.length}}
        <div class="snd used {{#if data.size}}size{{data.size}}{{/if}}">
        {{#if data.icon}}
          {{#if data.faIcon}}<i class="{{data.icon}}" title="{{data.name}}"></i>{{/if}}
          {{#unless data.faIcon}}<img class="icon" title="{{data.name}}" src="{{data.icon}}"/>{{/unless}}
        {{/if}}
        {{#unless data.faIcon}}
          {{#if data.name}}{{data.name}}{{/if}}
          {{#unless data.name}}{{data.idx}}{{/unless}}
        {{/unless}}
        </div>
      {{/if}}
      {{#unless data.path.length}}<div class="snd unused">{{data.idx}}</div>{{/unless}}
      <div><i class="fas fa-arrow-left"></i> {{localize "MOUSND.play_stop_audio"}}</div>
    </div>
  </div>

  <footer>
    <div class="actions">
      <button class="cancel"> {{localize "MOUSND.cancel"}}</button>
      {{#if exists}}
        <button class="delete"><i class="fas fa-trash"></i> {{localize "MOUSND.delete_slot"}}</button>
      {{/if}}
      <button class="save" title="{{localize "MOUSND.save_slot_tooltip"}}"><i class="fas fa-save"></i> {{localize "Save"}}</button>
    </div>
  </footer>
</form>
